[submodule "libs/tween"]
	path = libs/tween
	url = git@github.com:AstricUnion/Tween
[submodule "libs/bmodentity"]
	path = libs/bmodentity
	url = git@github.com:AstricUnion/BModEntity
[submodule "libs/model"]
	path = libs/model
	url = git@github.com:AstricUnion/BModel
[submodule "libs/beffect"]
	path = libs/beffect
	url = git@github.com:AstricUnion/BEffects
[submodule "libs/astrosound"]
	path = libs/astrosound
	url = git@github.com:AstricUnion/AstroSound
[submodule "builder"]
	path = builder
	url = https://github.com/AstricUnion/SEXBuilder
